<html>

<head>
    <title>Warning</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
<div class="container">
    <div class="jumbotron">
        <h2>Read and destroy?</h2>
        <form action="/private-note/note/<%=noteId%>" method="POST">
            <div class="form-group">
                <button class="btn btn-success" type="submit">Yes, show me the note</button>
            </div>
    </div>
    </form>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>


</html>